footer.footer
    .footer__wrapper.container
        section.feedback
            .feedback__wrapper
                form.feedback__form(action="url",
                                    method="POST")
                    p.feedback_slogan.mini-title
                        | Напишите нам
                    fieldset.feedback__fieldset
                        .fedback__input-wrapper
                            input.feedback__input.feedback__input-name(type="text",
                                                name="name",
                                                placeholder="Ваше имя")
                            input.feedback__input.feedback__input-tel(type="text",
                                                name="phone-number",
                                                placeholder="Ваше номер")
                        input.feedback__input.feedback__input-email(type="text",
                                              name="email",
                                              placeholder="Ваше email")
                        textarea.feedback__input.feedback__textarea(name="text",
                                                                    placeholder="Ваше сообщение")
                    button.feedback__btn
                        | Отправить
    section.footer__social
        ul.footer__social-list
            li.footer__social-list-item
                a.telegramm-btn(href="tg://")
                            | Заказать в telegramm
        span.footer__copyr
            | steroid-house.com.ua
        
script(src="https://unpkg.com/scrollreveal")
script(src="js/script.js")
script(src="js/jqery-min3.4.1.js")
script(src="js/jqcode.js")